.carousel-row {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    align-items: center;
  }
  .button-container::-webkit-scrollbar{
    display: none;
}
  
.fs-orders-container {
    flex: 0 0 auto;
    
}
.fs-orders{
    font-size: 0.9rem;
}
  
  .button-container {
    flex: 1 1 auto;
    display: flex;
  }
  
  .button-scroll {
    display: flex;
    flex-wrap: nowrap;
  }
  .button-scroll button {
    white-space: nowrap;
  }
  
  @media (max-width: 992px) {
    .button-container {
      overflow-x: auto;
    }
  }
  
